'context-menu':
  'atom-text-editor': [
    {
      'label': 'Open GitUp'
      'command': 'open-gitup:open'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Open GitUp'
      'submenu': [
        {
          'label': 'Open'
          'command': 'open-gitup:open'
        }
      ]
    ]
  }
]
